<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="com.Banking.Utilities.ListnersTest"></listener>
	<listener class-name="com.Banking.Utilities.Reporting"></listener>
</listeners>

  <test thread-count="5" name="Test">
  
  <parameter name="browser" value="chrome"></parameter>
  
     <classes>
     	<class name="com.Banking.TestCases.TC_LoginTest_001"/>  
    	 <class name="com.Banking.TestCases.TC_LoginDataDriverTest_002"/>  
     	<class name="com.Banking.TestCases.TC_AddCutomerTest_003"/>
      <class name="com.Banking.TestCases.BaseClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
